<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<string>YES</string>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1651566365791936</string>
				<string>com.googleusercontent.apps.937228316212-2a3h9vubqquurninhekf65pe659i9ima</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1651566365791936</string>
	<key>FacebookClientToken</key>
	<string>675e5a004a501b0b6010c620686f9957</string>
	<key>FacebookDisplayName</key>
	<string>Social Connect</string>
	<key>GIDClientID</key>
	<string>937228316212-2a3h9vubqquurninhekf65pe659i9ima.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>937228316212-2v0eo2j24m122fb9l4uf4ofv7ih0d8ci.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
</dict>
</plist>
